<a href="https://colab.research.google.com/github/lazizrakhmat/DS-SQL/blob/main/rank_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3-Modul Ma'lumotlarga ishlov berish
## 3.1 Fayllar bilan ishalash Ma'lumotlar ombori

## Kerakli kurubxonalarni chaqirib olamiz

In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
db = sql.connect("rankdb.db")
cursor = db.cursor()

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv", index_col='rank')
df.head()

      country     density   densityMi    pop2021   area
rank
1       Macau  21946.4667  56841.3487    658.394     30
2      Monaco  19755.5000  51166.7450     39.511      2
28    Burundi    440.3044   1140.3884  12255.433  27834
1       Macau  21946.4667  56841.3487    658.394     30
2      Monaco  19755.5000  51166.7450     39.511      2

In [4]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);
"""

cursor.execute(query)
db.commit()

In [5]:
uz = df[df.country=='Uzbekistan']
uz

         country  density  densityMi    pop2021    area
rank
133   Uzbekistan  75.8511   196.4542  33935.763  447400

In [9]:
rank = uz.index.values[0]
country = uz.at[rank, 'country']
density = uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f"{rank}, {country}, {density}, {population}, {area}")

133, 'Uzbekistan', 75.8511, 33935.763, 447400

In [12]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(query)
db.commit()

In [13]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

In [14]:
db.close()